= render 'common/short_header'

.signup-main
  .signup-main-top
    %h1.signup-main-top__head
      新規会員登録
  .signup-main-center
    .signup-main-center__form
      = link_to "/users/sign_up" ,class: 'btn-default btn-mail' do
        メールアドレスで登録
    .signup-main-center__fb
      = link_to "Facebookで登録", class: "btn-default btn-sns btn-sns-facebook" do
        Facebookで登録
    .signup-main-center__gg
      = link_to "Googleで登録", class: "btn-default btn-sns btn-sns-google" do
        Googleで登録

= render 'common/short_footer'