= render "common/top_header"
-# top main
%main.white
  %section.top-page-image-carousel.top-carousel.top-page-image-loaded.top-page-image-drag
    .top-page-image-stage-outer
      %ul.top-page-image-stage.slider
        %li.top-page-image-item
          =image_tag "スクリーンショット 2019-05-30 19.12.09.png", alt: "トップ画像", class: 'img top-page-image-item-img'
        %li.top-page-image-item
          =image_tag "スクリーンショット 2019-05-30 19.12.14.png", alt: "トップ画像", class: 'img top-page-image-item-img'
        %li.top-page-image-item
          =image_tag "スクリーンショット 2019-05-30 19.12.19.png", alt: "トップ画像", class: 'img top-page-image-item-img'

    -# 今は使用しないこと
    -# .top-page-image-nav
    -#   .top-page-image-prev
    -#   .top-page-image-next
    -# .top-page-image-dots
    -#   .top-page-image-dots
    -#     %span
    -#   .top-page-image-dots
    -#     %span
    -#   .top-page-image-dots.active
    -#     %span
    -# ここまで

  %section.pickup__container
    %h2.pickup-title ピックアップカテゴリー
    %section.items__container.clearfix
      %h3.text-center
        = link_to '' do
          レディース 新着アイテム
      .items__content.clearfix
        - @products.each do |product|
          %section.items_box
            = link_to product_path(product.id), method: :get do
              %figure.items_box-photo
                = image_tag product.images.first
                -if product.sale == 'sold_out'
                  %figcaption
                    .item-sold-out-badge
                      .sold_text SOLD 
              .items_box-details
                %h3.items_box-title.font-2
                  = product.name
                .items_box-num
                  .items_box-price.font-5
                    ¥
                  .items_box-price.font-5
                    = product.price
                %p.items_box-tax (税込)
      .view-all-products
        = link_to '' do
          全ての商品を見る

    %section.items__container.clearfix
      %h3.text-center
        = link_to '' do
          メンズ 新着アイテム
      .items__content.clearfix
        - @products.each do |product|
          %section.items_box
            = link_to product_path(product.id), method: :get do
              %figure.items_box-photo
                = image_tag product.images.first
              .items_box-details
                %h3.items_box-title.font-2
                  = product.name
                .items_box-num
                  .items_box-price.font-5
                    ¥
                  .items_box-price.font-5
                    = product.price
                %p.items_box-tax (税込)
      .view-all-products
        = link_to '' do
          全ての商品を見る

    / 以下省略 今は使用しない
    -# %section.items__container.clearfix
    -# %section.items__container.clearfix
    / ここまで使用しない
  -# %section.pickup__container
  / これも今は使用しない
  -if user_signed_in?
    =link_to new_product_path, class: "footer-sell-btn" do
      %div 出品
      =fa_icon 'camera',class:"fa-camera"  
  - else
    =link_to new_user_path, class: "footer-sell-btn" do
      %div 出品
      =fa_icon 'camera',class:"fa-camera"
  
  = render "common/common_footer"
