= render "common/top_header"

%section.search-result-container.clearfix
  %div.search-box
    = search_form_for @search, url: search_product_index_path do |f|
      = sort_link(@search, :name, '名前順', default_order: :asc)
      = sort_link(@search, :price, "価格")
      = sort_link(@search, :created_at, "新着順")
      .search-box__detail-search
        %h1.search-box__detail-search__title
          詳細検索
          .search-box__detail-search__form-group
            = f.label :name_cont, class: "search-box__detail-search__form-group__label" do
              = fa_icon "plus", text: "キーワードを追加する"
            = f.search_field :name_cont, class: "search-box__detail-search__form-group__input"
          .search-box__detail-search__form-group
            = f.label :category_id, class: "search-box__detail-search__form-group__label" do
              = fa_icon "list", text: "カテゴリーを選択する"
            = f.collection_select :category_id, Category.where(parent_id: 0), :id, :name, {include_blank: 'すべて'}, { class: "search-box__detail-search__form-group__input" }
          .search-box__detail-search__form-group
            = f.label :bland_name_cont, class: "search-box__detail-search__form-group__label" do
              = fa_icon "tag", text: "ブランド名から探す"
            = f.search_field :bland_name_cont, class: "search-box__detail-search__form-group__input"
          .search-box__detail-search__form-group
            = f.label :size_eq, class: "search-box__detail-search__form-group__label" do
              = fa_icon "square-o", text: "サイズを指定する"
              = f.collection_select :size_eq, Size.all, :id, :name, { include_blank: 'すべて'}, { class: "search-box__detail-search__form-group__input" }
          .search-box__detail-search__form-group
            = f.label :Price, class: "search-box__detail-search__form-group__label" do
              = fa_icon "yen", text: "価格"
            .search-box__detail-search__form-group__price-box.clearfix
              = f.number_field :price_gteq, placeholder: "￥ Min", class: "search-box__detail-search__form-group__price-min search-box__detail-search__form-group__input"
              .search-box__detail-search__form-group__price-between
                〜
              = f.number_field :price_lteq, placeholder: "￥ Max", class: "search-box__detail-search__form-group__price-max search-box__detail-search__form-group__input"
          .search-box__detail-search__form-group
            = f.label :status, class: "search-box__detail-search__form-group__label" do
              = fa_icon "star", text: "商品の状態"
            = f.collection_check_boxes :status, Status.all, :name, :name, prompt: '--' do |b|
              = b.label class: "search-box__detail-search__form-group__checkbox" do
                = b.check_box
                = b.text
          .search-box__detail-search__form-group
            = f.label :price, class: "search-box__detail-search__form-group__label" do
              = fa_icon "car", text: "配送料の負担"
            = f.collection_check_boxes :price, Fee.all, :name, :name, prompt: '--' do |c|
              = c.label class: "search-box__detail-search__form-group__checkbox" do
                = c.text
                = c.check_box
          .search-box__detail-search__form-group
            = f.label :name_or_description_cont, class: "search-box__detail-search__form-group__label" do
              = fa_icon "shopping-basket", text: "販売状況"
            .clearfix
              = f.check_box :sale_eq, { class: "search-box__detail-search__form-group__status-checkbox" } , checked_value = "", unchecked_value = ""
              .search-box__detail-search__form-group__status-name
                出品中
            .clearfix
              = f.check_box :sale_eq, { class: "search-box__detail-search__form-group__status-checkbox" }, checked_value = "sold_out", unchecked_value = ""
              .search-box__detail-search__form-group__status-name
                売り切れ
          .search-box__detail-search__form-group--box.clearfix
            %button.search-box__detail-search__form-group__clear
              クリア
            = f.submit '検索', class: "search-box__detail-search__form-group__search"
  %div.search-result.clearfix
    - if @products.length > 0
      %h1.search-result__title 検索結果#{@products.length}件
      - @products.each do |product|
        %section.items_box
          = link_to product_path(product.id), method: :get do
            %figure.items_box-photo
              = image_tag product.images.first
              -if product.sale == 'sold_out'
                %figcaption
                  .item-sold-out-badge
                    .sold_text SOLD 
            .items_box-details
              %h3.items_box-title.font-2
                = product.name
              .items_box-num
                .items_box-price.font-5
                  ¥
                .items_box-price.font-5
                  = product.price
              %p.items_box-tax (税込)
              .search__container__right__itembox__content__ind__body__pbox__ibox
                %i.far.fa-heart
                %span.search__container__right__itembox__content__ind__body__pbox__ibox__icon 2
              %p.search__container__right__itembox__content__ind__body__pbox__tax
    - else
      %h1.search-result__title
        検索結果 0件
      %p.search-result__info
        該当する商品が見つかりません。商品は毎日増えていますので、これからの出品に期待してください。
= render "common/common_footer"