-breadcrumb:product,@product
= render partial:'breadcrumb'

.detail__main-content
  .detail__center-content
    %h1.detail__top-content
      = @product.name
  
    .detail__second-content
      .detail__second-content_img
        = image_tag 'おこ猫.jpeg',  class: 'detail__img-parent'
        = image_tag 'おこ猫.jpeg',  class: 'detail__img-child'
        = image_tag 'おこ猫.jpeg',  class: 'detail__img-child'
        = image_tag 'おこ猫.jpeg',  class: 'detail__img-child'
      %table.detail__second-content_detail
        %tbody.detail__second-content_detail-table
          %tr
            %th 出品者
            %td
              .link 
                = link_to @product.user.nickname, ""
              .td__img
                = image_tag 'スクリーンショット 2019-05-16 21.25.31.png',  class: 'saler-red'
                = image_tag 'スクリーンショット 2019-05-16 21.25.50.png',  class: 'saler-yellow'
                = image_tag 'スクリーンショット 2019-05-16 21.26.03.png',  class: 'saler-bulue'
          %tr
            %th カテゴリー
            %td
              .link
                %a メンズ  
                %br
                %a >トップス
                %br
                %a >スウェット
          %tr
            %th ブランド
            %td 
              .link
                = link_to @product.bland.name
          %tr
            %th 商品のサイズ
            %td 
              = @product.size
          %tr
            %th 商品の状態
            %td 
              = @product.status
          %tr
            %th 配送料の負担
            %td 
              = @product.delivery.price
          %tr
            %th 配送の方法
            %td 
              = @product.delivery.method
          %tr
            %th 配送元地域
            %td 
              = @product.delivery.region
          %tr
            %th 発送日の目安
            %td 
              = @product.delivery.date
    
  
    .third-content
      %span.third-content_price 
        = @product.price
      %span.third-content_tax (税込)
      %span.third-content_shipping 送料込み  
      = link_to "購入画面に進む", purchase_index_path(@product), class: "purches_btn" 
        
  
    .forth-content
      %p.forth-content_description
        = @product.text
    .fifth-content
      .fifth-content_right 
        %i.fas.fa-lock 
        .fifth-content_right-text あんしん・あんぜんへの取り組み
      .fifth-content_left
        .fifth-content_left-like
          %i.fas.fa-heart
          %a.btn-like いいね！
        .fifth-content_left-report
          %i.fas.fa-flag
          %a.btn-flag 不適切な商品の報告
      
  
  .six-content
    .six-content_message
      .six-content_message-content
        %form.six-content_message-form
          %p.comment-worning 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.textarea-default
          %button.message-submit
            %span コメントする
  
  %ul.seven-content.clearfix
    %li.seven-content_left
      %a.seven-content_prev
        <テトラワークス エビッコ 新品未使用
    %li.seven-content_right
      %a.seven-content_next
        黒板フラワーリース>
  
  .eight-content
    %ul.item__social__media--box--content
      %li
        = link_to "", class: "facebook__icon" do
          %i.fab.fa-facebook-square
      %li
        = link_to "", class: "twitter__icon" do
          %i.fab.fa-twitter-square
      %li
        = link_to "", class: "pinterest__icon" do
          %i.fab.fa-pinterest-square
  
  .nine-content
    .nine-content_section
      %h.nine-content_section-title
      = link_to "" do
        = "#{@product.user.nickname}さんのその他の商品"
        .nine-content_section-box
        - @other_user_products.each do |product|
          %section.items_box
            = link_to product_path(product.id), method: :get do
              %figure.items_box-photo
                =image_tag "おこ猫.jpg", alt: "商品画像", class: 'img picture'
              .items_box-details
                %h3.items_box-title.font-2
                  = product.name
                .items_box-num
                  .items_box-price.font-5
                    ¥
                  .items_box-price.font-5
                    = product.price
                %p.items_box-tax (税込)
  
  .ten-content
    .ten-content_section
      %h.ten-content_section-title
      = link_to "" do
        = "#{@product.bland.name}さんのその他の商品"
      .ten-content_section-box
        - @products.each do |product|
          %section.items_box
            = link_to product_path(product.id), method: :get do
              %figure.items_box-photo
                =image_tag "おこ猫.jpg", alt: "商品画像", class: 'img picture'
              .items_box-details
                %h3.items_box-title.font-2
                  = product.name
                .items_box-num
                  .items_box-price.font-5
                    ¥
                  .items_box-price.font-5
                    = product.price
                %p.items_box-tax (税込)

        
  