= render 'common/short_header'

.login-main
  .login-main__button
    .login-main__button--new
      %p
        アカウントをお持ちでない方はこちら
        =link_to "/users/new", class: "new_devise_btn-default btn-sns" do
          新規登録会員
    .login-main__button--outside
      = link_to user_facebook_omniauth_authorize_path, class: "new_devise_btn-default btn-sns btn-sns-facebook" do
        Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, class: "new_devise_btn-default btn-sns btn-sns-google" do
        Googleでログイン
    .login-main__button--form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, class: 'form-box--input', placeholder: 'メールアドレス'
        = f.password_field :password, autocomplete: "off", class: 'form-box--input', placeholder: 'パスワード'
        -# = recaptcha_tags
        = f.submit "ログイン", class: "login-submit new_devise_btn-default btn-red"
        = link_to 'パスワードをお忘れの方', "", class: "forget"

= render 'common/short_footer'
