= render 'common/short_header'

.login-main
  .login-main__button
    .login-main__button--new
      %p
        アカウントをお持ちでない方はこちら
        =link_to "/users/new", class: "btn-default btn-sns" do
          新規登録会員
    .login-main__button--outside
      = link_to "Facebookでログイン", class: "btn-default btn-sns btn-sns-facebook" do
        Facebookでログイン
      = link_to "Googleでログイン", class: "btn-default btn-sns btn-sns-google" do
        Googleでログイン
    .login-main__button--form
      %form.form
        .form-box
          %label{for: "email"}
          %input{name: "email", placeholder: "メールアドレス", type: "text", value: "", class: "form-box--input"}
        .form-box
          %label{for: "password"}
          %input{name: "password", placeholder: "パスワード", type: "text", value: "", class: "form-box--input"}
        %button{type: "submit", class: "form-btn"}
          ログイン
        = link_to "#", class: "form-link" do
          %P.form-link--text
            パスワードをお忘れの方

= render 'common/short_footer'