.full_screen_container
  %main.main__container.clearfix
    = render "common/sidebar"
    .main__card-box
      .l-content
        %section.l-chapter-container
          %h2.l-chapter-head クレジットカード情報入力
          = form_tag( method: :post, id: 'charge-form',  name: "inputForm", class: "l-single-inner") do
            .l-single-content
              .form-group
                %label.payment_card_no カード番号
                %span.form-require 必須
                = text_field_tag "number", "", class: "input-default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
                %ul.signup-card-list
                  %li.signup-card-list-inner
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?3982094107',  class: 'img'
                  %li.signup-card-list-inner
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?3982094107',  class: 'img'
                  %li.signup-card-list-inner
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?3982094107', class: 'img'
                  %li.signup-card-list-inner
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?3982094107', class: 'img'
                  %li.signup-card-list-inner
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?3982094107', class: 'img'
                  %li.signup-card-list-inner
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?3982094107', class: 'img'
                  %li.signup-card-list-inner
                    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?3982094107', class: 'img'    
                %br
              .form-group.signup-form-expire
                %h3.limit-title
                  %label 有効期限
                  %span.form-require 必須
                .select-main
                  .select-wrap
                    %select#exp_month{name: "exp_month", type: "text", class: "select-default"}
                      %option{value: "1"}01
                      %option{value: "2"}02
                      %option{value: "3"}03
                      %option{value: "4"}04
                      %option{value: "5"}05
                      %option{value: "6"}06
                      %option{value: "7"}07
                      %option{value: "8"}08
                      %option{value: "9"}09
                      %option{value: "10"}10
                      %option{value: "11"}11
                      %option{value: "12"}12
                    %span.select__time 月
                  .select-wrap
                    %select#exp_year{name: "exp_year", type: "text", class: "select-default"}
                      %option{value: "2019"}19
                      %option{value: "2020"}20
                      %option{value: "2021"}21
                      %option{value: "2022"}22
                      %option{value: "2023"}23
                      %option{value: "2024"}24
                      %option{value: "2025"}25
                      %option{value: "2026"}26
                      %option{value: "2027"}27
                      %option{value: "2028"}28
                      %option{value: "2029"}29
                    %span.select__time 年
                  %br
              .form-group
                %label セキュリティコード
                %span.form-require 必須
                = text_field_tag "cvc", "", class: "input-default", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
                .signup-seqcode
                  #span.form-question ？
                  .signup-seqcode-text カード裏面の番号とは？
              #card_token
              = submit_tag "追加する", id: "token_submit"
