/ ログアウトした場合のヘッダー
.full_screen_container
  %header.top__header.visible
    .top__header_inner
      .top__header_top
        %h1
          = link_to root_path do
            = image_tag "logo.svg", size: "134x36", alt: "mercari"
        .top__header_form
          = form_with do |f|
            = f.text_field :text, name: "keyword", placeholder: "何かお探しですか？", type: "search", class: 'input__box'
            = f.submit "data-disable-with": "", name: "commit", type: "submit", value: "", class: "search-btn"
            %i.fas.fa-search
      .top__header_nav__box.clearfix
        %nav.top__header__left__box
          %ul.top__header_nav
            %li
              %h2
                .top__header_nav-root.list__parent
                = link_to "#" do
                  %i.fas.fa-list-ul
                  %span カテゴリーから探す

              / リストは現在使用しない
              -# %ul.top__header_nav-parent-wrap{"data-mega" => "1", :style => "width: auto;"}
              -#   %li.top__header_nav-parent
              -#     %h3
              -#       %a{:href => "#"}
              -#         レディース
              -#     %ul.top__header_nav-child-wrap{"data-mega" => "2"}
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} トップス
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} Tシャツ/カットソー（半袖/袖なし）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} Tシャツ/カットソー（七分/長袖）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} シャツ/ブラウス（半袖/袖なし）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} シャツ/ブラウス（七分/長袖）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ポロシャツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} キャミソール
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} タンクトップ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ホルターネック
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ニット/セーター
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} チュニック
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} カーディガン/ボレロ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} アンサンブル
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ベスト/ジレ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} パーカー
              -#       %li.top__header_nav-child
              -#         %a{:href => "#", "https:" => ""} ジャケット/アウター
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} テーラードジャケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ノーカラージャケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} Gジャン/デニムジャケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} レザージャケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ダウンジャケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ライダースジャケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ミリタリージャケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ダウンベスト
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ジャンパー/ブルゾン
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ポンチョ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ロングコート
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} トレンチコート
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ダッフルコート
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ピーコート
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} パンツ
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} デニム/ジーンズ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ショートパンツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} カジュアルパンツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ハーフパンツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} チノパン
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ワークパンツ/カーゴパンツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} クロップドパンツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} サロペット/オーバーオール
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} オールインワン
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} サルエルパンツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ガウチョパンツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} スカート
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ミニスカート
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ひざ丈スカート
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ロングスカート
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} キュロット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} ワンピース
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ミニワンピース
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ひざ丈ワンピース
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ロングワンピース
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 靴
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ハイヒール/パンプス
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ブーツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} サンダル
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} スニーカー
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ミュール
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} モカシン
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ローファー/革靴
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} フラットシューズ/バレエシューズ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 長靴/レインシューズ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} ルームウェア/パジャマ
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} パジャマ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ルームウェア
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} レッグウェア
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ソックス
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} スパッツ/レギンス
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ストッキング/タイツ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} レッグウォーマー
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 帽子
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ニットキャップ/ビーニー
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ハット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ハンチング/ベレー帽
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} キャップ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} キャスケット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 麦わら帽子
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} バッグ
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ハンドバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} トートバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} エコバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} リュック/バックパック
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ボストンバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} スポーツバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ショルダーバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} クラッチバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ポーチ/バニティ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ボディバッグ/ウェストンバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} マザーズバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} メッセンジャーバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ビジネスバッグ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 旅行用バッグ/キャリーバッグ
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} アクセサリー
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ネックレス
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ブレスレット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} バングル/リストバンド
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} リング
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ピアス（片耳用）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ピアス（両耳用）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} イヤリング
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} アンクレット
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ブローチ/コサージュ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} チャーム
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} ヘアアクセサリー
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ヘアゴム/シュシュ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ヘアバンド/カチューシャ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ヘアピン
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 小物
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 長財布
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 折り財布
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} コインケース/小銭入れ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 名刺入れ/定期入れ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} キーケース
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} キーホルダー
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 手袋/アームカバー
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ハンカチ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ベルト
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} マフラー/ショール
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ストール/スヌード
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} バンダナ/スカーフ
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ネックウォーマー
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} サスペンダー
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 時計
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 腕時計（アナログ）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 腕時計（デジタル）
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} ラバーベルト
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} レザーベルト
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} 金属ベルト
              -#           %li.top__header_nav-grand-child
              -#             %a{:href => ""} その他
              -#   %li.top__header_nav-child
              -#   %li.top__header_nav-child

            %li
              %h2
                .top__header_nav-root.list__parent
                = link_to "#" do
                  %i.fas.fa-tag
                  %span ブランドから探す

                / 検索リストは現在使用しない
                -# %ul.top__header_nav-parent-wrap
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %a{:href => ""} シャネル
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %a{:href => ""} ナイキ
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %a{:href => ""} ルイ ヴィトン
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %a{:href => ""} シュプリーム
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %a{:href => ""} アディダス
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %a{:href => ""} ブランド一覧
                / ここまで使用しない


        .top__header__right__box
          - if user_signed_in?
            %ul.top__header_login_nav
              %li
                .top__header_menu
                = link_to "#" do
                  %i.far.fa-bell
                  %span お知らせ
                  .top__header_nav_count
                %ul.top__header_user_box.top__header_notice_box.mypage__box_list
              %li
                .top__header_menu
                = link_to "#" do
                  %i.fas.fa-check
                  %span やることリスト
              %li
                .top__header_user-icon.top__header_menu
                = link_to user_path(current_user) do
                  %i.fas.fa-user-circle
                  %span マイページ

          - else
            %ul.top__header_login_nav
              %li
              = link_to "/users/sign_in" do
                .header-btn.header-btn-red ログイン
              %li
              = link_to "/users/new" do
                .header-btn.header-btn-sigup 新規会員登録
