/ ログアウトした場合のヘッダー
.full_screen_container
  %header.top__header.visible
    .top__header_inner
      .top__header_top
        %h1
          = link_to root_path do
            = image_tag "logo.svg", size: "134x36", alt: "mercari"
        .top__header_form
          = form_with do |f|
            = f.text_field :text, name: "keyword", placeholder: "何かお探しですか？", type: "search", class: 'input__box'
            = f.submit "data-disable-with": "", name: "commit", type: "submit", value: "", class: "search-btn"
            %i.fas.fa-search
      .top__header_nav__box.clearfix
        %nav.top__header__left__box
          %ul.top__header_nav
            %li
              %h2
                .top__header_nav-root.list__parent
                = link_to "/categories" do
                  %i.fas.fa-list-ul
                  %span カテゴリーから探す

              / リストは現在使用しない
              -# %ul.top__header_nav-parent-wrap{"data-mega" => "1", :style => "width: auto;"}
              -#   %li.top__header_nav-parent
              -#     %h3
              -#       %a{:href => "#"}
              -#         レディース
              -#     %ul.top__header_nav-child-wrap{"data-mega" => "2"}
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} トップス
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do Tシャツ/カットソー（半袖/袖なし）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do Tシャツ/カットソー（七分/長袖）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do シャツ/ブラウス（半袖/袖なし）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do シャツ/ブラウス（七分/長袖）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ポロシャツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do キャミソール
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do タンクトップ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ホルターネック
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ニット/セーター
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do チュニック
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do カーディガン/ボレロ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do アンサンブル
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ベスト/ジレ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do パーカー
              -#       %li.top__header_nav-child
              -#         %a{:href => "#", "https:" => ""} ジャケット/アウター
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do テーラードジャケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ノーカラージャケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do Gジャン/デニムジャケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do レザージャケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ダウンジャケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ライダースジャケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ミリタリージャケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ダウンベスト
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ジャンパー/ブルゾン
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ポンチョ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ロングコート
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do トレンチコート
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ダッフルコート
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ピーコート
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} パンツ
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do デニム/ジーンズ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ショートパンツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do カジュアルパンツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ハーフパンツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do チノパン
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ワークパンツ/カーゴパンツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do クロップドパンツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do サロペット/オーバーオール
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do オールインワン
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do サルエルパンツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ガウチョパンツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} スカート
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ミニスカート
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ひざ丈スカート
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ロングスカート
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do キュロット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} ワンピース
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ミニワンピース
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ひざ丈ワンピース
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ロングワンピース
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 靴
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ハイヒール/パンプス
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ブーツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do サンダル
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do スニーカー
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ミュール
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do モカシン
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ローファー/革靴
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do フラットシューズ/バレエシューズ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 長靴/レインシューズ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} ルームウェア/パジャマ
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do パジャマ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ルームウェア
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} レッグウェア
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ソックス
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do スパッツ/レギンス
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ストッキング/タイツ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do レッグウォーマー
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 帽子
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ニットキャップ/ビーニー
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ハット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ハンチング/ベレー帽
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do キャップ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do キャスケット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 麦わら帽子
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} バッグ
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ハンドバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do トートバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do エコバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do リュック/バックパック
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ボストンバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do スポーツバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ショルダーバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do クラッチバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ポーチ/バニティ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ボディバッグ/ウェストンバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do マザーズバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do メッセンジャーバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ビジネスバッグ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 旅行用バッグ/キャリーバッグ
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} アクセサリー
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ネックレス
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ブレスレット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do バングル/リストバンド
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do リング
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ピアス（片耳用）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ピアス（両耳用）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do イヤリング
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do アンクレット
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ブローチ/コサージュ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do チャーム
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} ヘアアクセサリー
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ヘアゴム/シュシュ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ヘアバンド/カチューシャ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ヘアピン
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 小物
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 長財布
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 折り財布
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do コインケース/小銭入れ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 名刺入れ/定期入れ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do キーケース
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do キーホルダー
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 手袋/アームカバー
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ハンカチ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ベルト
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do マフラー/ショール
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ストール/スヌード
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do バンダナ/スカーフ
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ネックウォーマー
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do サスペンダー
              -#       %li.top__header_nav-child
              -#         %a{:href => "#"} 時計
              -#         %ul.top__header_nav-grand-child-wrap{"data-mega" => "3"}
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 腕時計（アナログ）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 腕時計（デジタル）
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do ラバーベルト
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do レザーベルト
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do 金属ベルト
              -#           %li.top__header_nav-grand-child
              -#             %= link_to '' do その他
              -#   %li.top__header_nav-child
              -#   %li.top__header_nav-child

            %li
              %h2
                .top__header_nav-root.list__parent
                = link_to "#" do
                  %i.fas.fa-tag
                  %span ブランドから探す

                / 検索リストは現在使用しない
                -# %ul.top__header_nav-parent-wrap
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %= link_to '' do シャネル
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %= link_to '' do ナイキ
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %= link_to '' do ルイ ヴィトン
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %= link_to '' do シュプリーム
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %= link_to '' do アディダス
                -#   %li.top__header_nav-parent
                -#     %h3
                -#       %= link_to '' do ブランド一覧
                / ここまで使用しない


        .top__header__right__box
          - if user_signed_in?
            %ul.top__header_login_nav
              %li
                .top__header_menu
                = link_to "#" do
                  %i.far.fa-bell
                  %span お知らせ
                  .top__header_nav_count
                %ul.top__header_user_box.top__header_notice_box.mypage__box_list
              %li
                .top__header_menu
                = link_to "#" do
                  %i.fas.fa-check
                  %span やることリスト
              %li
                .top__header_user-icon.top__header_menu
                = link_to user_path(current_user) do
                  %i.fas.fa-user-circle
                  %span マイページ

          - else
            %ul.top__header_login_nav
              %li
              = link_to "/users/new" do
                .header-btn.header-btn-red 新規会員登録
              %li
              = link_to "/users/sign_in" do
                .header-btn.header-btn-sigup ログイン

          -# 上記本家メルカリの仕様変更により
          -# ログイン・新規会員登録を逆にしています
