/ ログアウトした場合のヘッダー
.full_screen_container
  %header.top__header.visible
    .top__header_inner
      .top__header_top
        %h1
          = link_to root_path do
            = image_tag "logo.svg", size: "134x36", alt: "mercari"
        .top__header_form
          = form_with model: @product, url: '/product/search', method: :get, local: true do |f|
            %table
              = f.text_field :text, name: "keyword", placeholder: "何かお探しですか？", type: "search", class: 'input__box'
              -# = f.submit "data-disable-with": "", name: "commit", type: "submit", value: "", class: "search-btn"
              %i.fas.fa-search
      .top__header_nav__box.clearfix
        %nav.top__header__left__box
          %ul.top__header_nav
            %li
              %h2
                .top__header_nav-root.list__parent
                = link_to categories_path do
                  %i.fas.fa-list-ul
                  %span カテゴリーから探す

            %li
              %h2
                .top__header_nav-root.list__parent
                = link_to brands_path do
                  %i.fas.fa-tag
                  %span ブランドから探す

        .top__header__right__box
          - if user_signed_in?
            %ul.top__header_login_nav
              %li
                .top__header_menu
                = link_to "#" do
                  %i.far.fa-bell
                  %span お知らせ
                  .top__header_nav_count
                %ul.top__header_user_box.top__header_notice_box.mypage__box_list
              %li
                .top__header_menu
                = link_to "#" do
                  %i.fas.fa-check
                  %span やることリスト
              %li
                .top__header_user-icon.top__header_menu
                = link_to user_path(current_user) do
                  %i.fas.fa-user-circle
                  %span マイページ

          - else
            %ul.top__header_login_nav
              %li
              = link_to "/users/new" do
                .header-btn.header-btn-red 新規会員登録
              %li
              = link_to "/users/sign_in" do
                .header-btn.header-btn-sigup ログイン

          -# 上記本家メルカリの仕様変更により
          -# ログイン・新規会員登録を逆にしています
